header {
    display: block;
}

div {
    display: block;
}

img {
    margin: 0, auto;
    position: initial;
    vertical-align: middle;
}

body {
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

ul {
    display: block;
    left: 50%;
}

li {
    margin-top: 2;
    padding-left: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
    position: relative;
    list-style: none;
}

a {
    background: rgba(0,0,0,.65);
    width: 500px;
    display: block;
    letter-spacing: .3em;
    padding-top: 4px;
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: #a7b7bc;
}

a:visited {
    color: #a7b7bc;
}

a:hover {
    color: #ffffff;
}

.home {
    background-image: url("/website-cs401/images/autumn-background.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#main-header {
    padding: 150px;
}

#main-header-content {
    margin: auto;
    width: 500px;
    padding: 10px;
}

#main-menu {
    list-style: none;
    margin: auto;
    max-width: 500;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#main-nav {
    pointer-events: auto;
    width: 500px;
}

#logout-button {
    color: yellow;
}

#logout-button:hover {
    color: #ffffe0;
}
